@use './partials/fluidSize' as *;

#footer {
  padding: 35px 0 0;
  text-align: center;
}

.title {
  font-size: fluidSize(26, 320, 40, 1000);

  font-weight: 700;

  @media screen and (min-width: 48em) {
    font-size: 40px;
  }
}

.email {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: block;

  font-size: 18px;
  position: relative;
  width: fit-content;
  margin: 6px auto 0;

  &::after {
    content: '';
    display: inline-block;
    background-image: url('/copytoclipboard.svg');
    background-size: 13.5px 13.5px;
    width: 13.5px;
    height: 13.5px;
    margin-left: 3px;
  }

  &::before {
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #101010;
    color: white;
    padding: 4px 9px;
    border-radius: 4px;
    white-space: nowrap;
  }

  &:hover::before {
    visibility: visible;
    opacity: 1;
  }

  &_tooltip-copy {
    &::before {
      content: 'Copy';
    }
  }

  &_tooltip-copied {
    &::before {
      content: 'Copied!';
    }
  }
}

.curriculum {
  display: block;
  margin: 10px auto;
  background: linear-gradient(-90deg, #d9deec, #cfd4e4);
  width: fit-content;

  padding: 13px 25px;
  border-radius: 11px;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.13));
  font-weight: 500;
  font-size: 18px;

  transition: font-weight 0.15s ease-out, transform 0.1s ease-out;

  &::after {
    content: '';
    display: inline-block;
    background-image: url('/cv.svg');
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 8%;
    top: 32%;
  }

  &:hover {
    font-weight: 600;
    transform: scale(1.05);
  }
}

.socialmedia {
  display: inline-block;
  margin: 7px 10px 25px;

  &_icon {
    height: 31px;
    width: 31px;
  }

  transition: transform 0.1s ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.copyright {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #242424;
}

// 1000px
@media screen and (min-width: 62.5em) {
  .email {
    font-size: 22px;

    &::before {
      font-size: 18px;
    }

    &::after {
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
    }
  }

  .curriculum {
    font-size: 22px;
    margin: 15px auto;

    &::after {
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
    }
  }

  .socialmedia {
    &_icon {
      height: 35px;
      width: 35px;
    }
  }

  .copyright {
    font-size: 12px;
  }
}
