html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif, Arial;
  line-height: 1.3;
  background-color: #0d0d0d;
  letter-spacing: 0.2px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

*:focus:not(:focus-visible),
*:focus,
*:focus-visible {
  outline: none;
}

#wrapper {
  color: black;
  width: 100%;
  overflow: hidden;
  position: relative;
}
