@use './partials/fluidSize' as *;
$base-padding: 32px;
$shadow-opacity: 0.175;
$shadow-spread: 12px;

@keyframes rotateShadow {
  0% {
    filter: drop-shadow(
      5px -14px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  6.25% {
    filter: drop-shadow(
      -1.5px -14px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  11.25% {
    filter: drop-shadow(
      -6.5px -13px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  16.25% {
    filter: drop-shadow(
      -10px -10px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  21.25% {
    filter: drop-shadow(
      -12.5px -6px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  26.25% {
    filter: drop-shadow(
      -13px 0px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  31.25% {
    filter: drop-shadow(
      -12.5px 6px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  36.25% {
    filter: drop-shadow(
      -10px $shadow-spread 10px rgba(0, 0, 0, $shadow-opacity)
    );
  }
  41.25% {
    filter: drop-shadow(
      -6.5px 13px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  46.25% {
    filter: drop-shadow(
      -2.75px 14px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  51.25% {
    filter: drop-shadow(
      0.5px 15px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  56.25% {
    filter: drop-shadow(4px 14px $shadow-spread rgba(0, 0, 0, $shadow-opacity));
  }
  61.25% {
    filter: drop-shadow(
      7.5px 13px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  66.25% {
    filter: drop-shadow(
      10px $shadow-spread 10px rgba(0, 0, 0, $shadow-opacity)
    );
  }
  71.25% {
    filter: drop-shadow(
      12.5px 6px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  76.25% {
    filter: drop-shadow(13px 0px $shadow-spread rgba(0, 0, 0, $shadow-opacity));
  }
  81.25% {
    filter: drop-shadow(
      12.5px -6px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  86.25% {
    filter: drop-shadow(
      10px -10px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  91.25% {
    filter: drop-shadow(
      6.5px -13px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  96.25% {
    filter: drop-shadow(
      2.75px -14px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
  100% {
    filter: drop-shadow(
      2.75px -14px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
  z-index: 1;
  padding: 0 $base-padding;

  &_logo {
    display: none;
    position: absolute;
    height: 90vh;
    z-index: -1;
    filter: drop-shadow(
      14px 15px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
    animation: rotateShadow 3s linear infinite;
  }

  &_logo_mobile {
    position: absolute;
    height: 100vh;
    z-index: -1;
    filter: drop-shadow(
      14px 15px $shadow-spread rgba(0, 0, 0, $shadow-opacity)
    );
    // animation: rotateShadow 5s linear infinite;
  }

  &_heading {
    text-align: center;
    font-weight: 800;
    font-size: fluidSize(26, 320, 42, 600);

    > span {
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

//* technologies section

.technologies {
  padding: 0 $base-padding;
  position: relative;
  z-index: 2;
  background: linear-gradient(90deg, #d9deec, #cfd4e4);

  &_heading {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    color: #1a1a1a;
    margin-top: 50px;
  }

  &_container {
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px 30px 35px;
    text-align: center;
    font-weight: 500;
    max-width: 1036px;

    &_sectiontitle {
      font-size: 18px;
      margin-bottom: 20px;
    }

    &_grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;

      &_item {
        position: relative;
        width: 150px;
        height: 190px;
        border-radius: 15px;
        background: linear-gradient(45deg, #dadfed, #e9edf9);
        filter: drop-shadow(10px 10px 12px rgba(0, 0, 0, 0.13));

        > img {
          position: absolute;
          top: 47.5%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        > p {
          font-size: 12px;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
        }
      }
    }
  }

  &_paragraph {
    font-size: 17px;
    text-align: center;
  }
}

// * projects section

.projects {
  padding: 30px $base-padding;
  margin-top: 40px;

  &_bg {
    background: linear-gradient(-90deg, #d9deec, #cfd4e4);
  }

  &_heading {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    color: #1a1a1a;
  }

  &_anchor {
    display: block;
    margin: 20px 0;
    transition: transform 0.15s ease-out;

    &:hover {
      transform: scale(1.07);

      & .projects_container_cta {
        background-color: #101010;
        color: #d4d9e8;
      }
    }
  }

  &_container {
    &_video {
      width: 100%;
      border-radius: 10px;
    }

    &_description {
      margin-top: 5px;
      text-align: center;
    }

    &_cta {
      margin: 0 auto;
      width: fit-content;
      border: 2px solid #101010;
      padding: 6px 30px;
      border-radius: 1000px;
      font-size: 18px;
      font-weight: 500;
      margin-top: 15px;

      transition: background-color 0.15s ease-out, color 0.15s ease-out;
    }
  }
}
