@use './partials/fluidSize' as *;
// $base-padding: fluidSize(13, 60, 320, 768);

#home_wrapper {
  padding: 0 32px;
}

@keyframes rotateShadow {
  0% {
    filter: drop-shadow(5px -14px 10px rgba(0, 0, 0, 0.2));
  }
  6.25% {
    filter: drop-shadow(-1.5px -14px 10px rgba(0, 0, 0, 0.2));
  }
  11.25% {
    filter: drop-shadow(-6.5px -13px 10px rgba(0, 0, 0, 0.2));
  }
  16.25% {
    filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.2));
  }
  21.25% {
    filter: drop-shadow(-12.5px -6px 10px rgba(0, 0, 0, 0.2));
  }
  26.25% {
    filter: drop-shadow(-13px 0px 10px rgba(0, 0, 0, 0.2));
  }
  31.25% {
    filter: drop-shadow(-12.5px 6px 10px rgba(0, 0, 0, 0.2));
  }
  36.25% {
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.2));
  }
  41.25% {
    filter: drop-shadow(-6.5px 13px 10px rgba(0, 0, 0, 0.2));
  }
  46.25% {
    filter: drop-shadow(-2.75px 14px 10px rgba(0, 0, 0, 0.2));
  }
  51.25% {
    filter: drop-shadow(0.5px 15px 10px rgba(0, 0, 0, 0.2));
  }
  56.25% {
    filter: drop-shadow(4px 14px 10px rgba(0, 0, 0, 0.2));
  }
  61.25% {
    filter: drop-shadow(7.5px 13px 10px rgba(0, 0, 0, 0.2));
  }
  66.25% {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }
  71.25% {
    filter: drop-shadow(12.5px 6px 10px rgba(0, 0, 0, 0.2));
  }
  76.25% {
    filter: drop-shadow(13px 0px 10px rgba(0, 0, 0, 0.2));
  }
  81.25% {
    filter: drop-shadow(12.5px -6px 10px rgba(0, 0, 0, 0.2));
  }
  86.25% {
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.2));
  }
  91.25% {
    filter: drop-shadow(6.5px -13px 10px rgba(0, 0, 0, 0.2));
  }
  96.25% {
    filter: drop-shadow(2.75px -14px 10px rgba(0, 0, 0, 0.2));
  }
  100% {
    filter: drop-shadow(2.75px -14px 10px rgba(0, 0, 0, 0.2));
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;

  &_logo {
    display: none;
    position: absolute;
    height: 90vh;
    z-index: -1;
    filter: drop-shadow(14px 15px 2px rgba(0, 0, 0, 0.5));
    animation: rotateShadow 5s linear infinite;
  }

  &_logo_mobile {
    position: absolute;
    height: 90vh;
    z-index: -1;
    filter: drop-shadow(14px 15px 2px rgba(0, 0, 0, 0.5));
    animation: rotateShadow 5s linear infinite;
  }

  &_heading {
    text-align: center;
    font-weight: 800;
    font-size: 26px;

    > span {
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

//* technologies section

.technologies {
  &_heading {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    color: #1a1a1a;
    margin-top: 30px;
  }

  &_container {
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px 30px;
    text-align: center;
    font-weight: 500;

    &_sectiontitle {
      font-size: 18px;
      margin-bottom: 20px;
    }

    &_grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;

      &_item {
        position: relative;
        width: 150px;
        height: 190px;
        border-radius: 15px;
        background: linear-gradient(45deg, #dadfed, #e9edf9);
        filter: drop-shadow(10px 10px 12px rgba(0, 0, 0, 0.13));

        > img {
          position: absolute;
          top: 47.5%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        > p {
          font-size: 12px;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
