$base-padding: 10px;

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: linear-gradient(0deg, #00000000, #d4d9e8);
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 4px $base-padding 0;
}

.navbar {
  &_homebtn {
    cursor: pointer;

    > img {
      height: 30px;
    }
  }

  &_hamburgerbtn {
    cursor: pointer;
    height: fit-content;

    > img {
      height: 17px;
      margin-top: 5px;
    }
  }
}
